* {
    margin: 0;
    padding: 0;
}

.maindiv {
    width: 1150px;
    margin: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* main Css */

header{
  background: #FFF8F3;
}
.headercontent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

}
.headercontent span{
  color: #FD6E0A;
}
.headercontent h3{
  font-size: 30px;
  font-weight: 800;
}
.headercontent ul:last-child li{
  margin-right: 0;
}
.headercontent ul li{
  list-style: none;
  display: inline-block;
  padding-right: 40px;
}
/* .headercontent ul:first-child li{
  margin-right: 60px;
} */
.headercontent ul li a{
  text-decoration: none;
  color: #474747;
}
.pbtn{
  border: none;
  padding: 12px 17px;
  color: white;
  background: #FD6E0A;
  border-radius: 4px;
  transition: .5s;
}
.pbtn:hover{
  background: #e56002;
  box-shadow: 0px 4px 10px #e56002;
}